<div class="single-service-details">
  <!-- Gallery -->
  <div class="single-service-slider">
    <img class="img-responsive" src="../../assets/images/parker.png" alt="" />
  </div>
  <!-- single service contant -->
  <div class="single-service-contant">
    <h3>PARKER HANNIFIN</h3>
    <p>
      Parker has been operating for over 24 years in India along with
      business development responsibilities for Srilanka and Bangladesh.
      While providing quality services and products to its customers,
      the growth journey has continued through numerous acquisitions &
      green field projects. It is our continuous commitment to bring in
      new products and technologies in hydraulics, pneumatics,
      electromechanical, filtration, process control, fluid and gas
      handling, sealing and shielding, climate control and aerospace.<br />
      With its India headquarter in Mahape, Navi Mumbai, 11 sales
      offices, 8 manufacturing plants, 1100 employees, 100 ParkerStores
      and presence in diversified markets across India Parker truly has
      a unique selling proposition to delight our customers . We extend
      our service promise through our nationwide channel partners, hose
      assembler network and Automation Technology Centers (ATC's). In
      India Parker Training Services is positioned as a world class
      entity and a knowledge-house with technical expertise and
      engineering competence which is currently functional at Chennai &
      shortly coming up at Mumbai.<br />

      <b>Our Values – Uniquely Parker</b> <br /><br />

      <span style="color: #521fe6;font-weight: bold;"
        >Winning Culture &nbsp; &nbsp; Passionate People &nbsp; &nbsp;
        Valued Customers &nbsp; &nbsp; Engaged Leadership &nbsp; &nbsp;
        Engineering Your Success.
      </span>
    </p>

    <h3>Scope of supply</h3>
    <ul class="check-list">
      <li>Digital Controller</li>
      <li>Refrigerated Air Dryers</li>
      <li>Desiccant Air Dryers</li>
      <li>Membrane Air Dryers</li>
      <li>Moisture Separators</li>
      <li>Oil Vapor Removal Filter</li>
      <li>Air Line Filter</li>
      <li>Nitrogen Generators</li>
      <li>Chillers</li>
      <li>Mech. Automatic Drain</li>
      <li>Electronic Auto Drain</li>
    </ul>
    <br /><br />
    <button class="check-button" onclick="myFunction()">
      Show More
    </button>
    <br /><br />
    <div class="showme" id="myDIV" style="display:none;">
      <div class="col-md-6">
        <embed
          src="download/parker/1.pdf#toolbar=0&navpanes=0&scrollbar=0"
          type="application/pdf"
          width="100%"
          height="400px"
        />
        <a target="_blank" href="../../assets/download/parker/1.pdf"
          ><img class="img-responsive" src="../../assets/images/download.png" />
        </a>
      </div>
      <div class="col-md-6">
        <embed
          src="download/parker/2.pdf#toolbar=0&navpanes=0&scrollbar=0"
          type="application/pdf"
          width="100%"
          height="400px"
        />
        <a target="_blank" href="../../assets/download/parker/2.pdf"
          ><img class="img-responsive" src="../../assets/images/download.png" />
        </a>
      </div>
      <div class="col-md-6">
        <embed
          src="download/parker/3.pdf#toolbar=0&navpanes=0&scrollbar=0"
          type="application/pdf"
          width="100%"
          height="400px"
        />
        <a target="_blank" href="../../assets/download/parker/3.pdf"
          ><img class="img-responsive" src="../../assets/images/download.png" />
        </a>
      </div>
      <div class="col-md-6">
        <embed
          src="download/parker/4.pdf#toolbar=0&navpanes=0&scrollbar=0"
          type="application/pdf"
          width="100%"
          height="400px"
        />
        <a target="_blank" href="../../assets/download/parker/4.pdf"
          ><img class="img-responsive" src="../../assets/images/download.png" />
        </a>
      </div>
    </div>
  </div>
</div>