<div class="single-service-details">
  <!-- Gallery -->
  <div class="single-service-slider">
    <img
      class="img-responsive"
      src="../../assets/images/mark.png"
      alt=""
    />
  </div>
  <!-- single service contant -->
  <div class="single-service-contant">
    <h3>Mark Air Compressor</h3>
    <p>
      Mark was established in 1970, and 4 years later, it started to
      sell piston compressor to foreign countries. The export business
      was proved to be very successful and promoted the rapid
      development of the company. By 1988, over 10,000 screw compressors
      had been in operation in Europe, and 100,000 worldwide. Today,
      MARK has a global customer base, with local customer centers
      around the world.
    </p>
    <p>
      Every day we develop and manufacture new products that are meant
      to meet your demands not only today, but tomorrow as well
    </p>
    <h3>Components</h3>
    <ul class="check-list">
      <div class="col-md-6">
        <li>oil filter</li>
        <li>air-oil separator</li>
        <li>oil-air cooler</li>
        <li>thermostatic valve</li>
        <li>safety valve</li>
        <li>oil vessel</li>
        <li>air suction solenoid valve</li>
      </div>
      <div class="col-md-6">
        <li>air suction filter</li>
        <li>screw compressor</li>
        <li>independent</li>
        <li>electric motor</li>
        <li>temperature probe/thermostat</li>
        <li>transmission unit</li>
        <li>compressed air receiver</li>
      </div>
    </ul>
    <br /><br />
    <button class="check-button" onclick="myFunction()">
      Show More
    </button>
    <br /><br />
    <div class="showme" id="myDIV" style="display:none;">
      <div class="col-md-6">
        <embed
          src="download/mark/1.pdf#toolbar=0&navpanes=0&scrollbar=0"
          type="application/pdf"
          width="100%"
          height="400px"
        />
        <a target="_blank" href="download/mark/1.pdf"
          ><img
            class="img-responsive"
            src="../../assets/images/download.png"
          />
        </a>
      </div>
      <div class="col-md-6">
        <embed
          src="download/mark/2.pdf#toolbar=0&navpanes=0&scrollbar=0"
          type="application/pdf"
          width="100%"
          height="400px"
        />
        <a target="_blank" href="download/mark/2.pdf"
          ><img
            class="img-responsive"
            src="../../assets/images/download.png"
          />
        </a>
      </div>
    </div>
  </div>
</div>