<div class="single-service-details">
  <!-- Gallery -->

  <!-- single service contant -->
  <div class="single-service-contant">
   
    <div class="col-sm-12">
        <div class="des-info">
      <img
        class="img-responsive"
        src="../../assets/images/page-title-bg.jpg"
        alt=""
      />
    </div></div>
    <div class="col-md-11">
      <h3 style="text-align: center;">IndoFork</h3>
    <p style="box-shadow: 0px 0px 2px #000;
    padding: 10px;
    margin: 10px 0;">
      Indofork from Bremels is a leading compounder for tyre companies
      in India, with the capacity excess of 20000 tonnes annually. We
      have been doing this highly technical compounding work for the
      last two decades for all the leading tyre companies in India.
    
   <br>
      Today the company is steered by young dynamic team of
      professionals well trained and having adequate educational
      background and no wonder Indofork from Bremels is poised for a big
      leap ahead.
    </p>
    <h3 style="text-align: center;">Types of Tyres</h3>
    <ul class="check-list">
      <li>Solid Cushioned Tyres</li>
      <li>Press On Band Tyres</li>
      <li>Future Range Of Tyres</li>
    </ul>
   
    
      <a href="../../assets/images/Indofork.pdf"
        ><img
          class="img-responsive"
          src="../../assets/images/download.png"
        />
      </a>
    </div>
   
  </div>
  </div>
  
