<section class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- page title -->
                <div class="page-title">
                    <div class="title">
                        <h2>Parker Compressor</h2>
                    </div>
                    <ul class="breadcrumb">
                        <li><a [routerLink]="['/home']" >Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======= page title part end ======= -->

<!-- ======= single service part start ======= -->
<section class="single-service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="single-service-details">
                    <!-- Gallery -->
                    <div class="single-service-slider">
                        <img class="img-responsive" src="images/indofork.jpg" alt="">
                    </div>
                    <!-- single service contant -->
                    <div class="single-service-contant">
                        <h3>AIRnet Aluminium</h3>
                            <p>AIRnet Aluminium is the most effective solution for your air or gas network. Its fast and easy installation gets your operations up and running in record time. AIRnet is leak-proof and corrosion-free. Its pipes and fittings come with a 10-year warranty.

                                                          </p>
                                                          <br>
                                                          <h3>Safe, Solid and Clean</h3>
                                                          <br>
                                                          AIRnet Stainless Steel piping system ensures 100% oil free air delivery from the generation to the point of use, in compliance with the highest quality standards.
                <br>
                AIRnet keeps your energy costs down. The AIRnet pipes and seamless connections have superior sealing to prevent leaks and reduce friction to a minimum. This prevents pressure drops, saves energy and contributes to the sustainability of your production.
                AIRnet is a fast, easy and reliable piping system, designed for compressed air, vacuum, and other inert gas applications from the source to the point of use with the lowest total cost of ownership.
             
                       
                   
         </div>
                </div>
            </div>
            <div class="col-sm-4">
		            <!-- Widget categories -->
                    <aside class="blog-widgets service-list">
                        <h3 class="widget-title">Quick Links</h3>
                        <ul>
                            <li><a [routerLink]="['/about']">About Us</a></li>
                <li><a [routerLink]="['/service']" routerLinkActive="menu-active" >Services</a></li>
                <li> <a [routerLink]="['/WhyUs']">Why Us</a></li>
                        </ul>
                    </aside>
                    <!-- Widget Category -->
              
                    <!-- Widget categories -->
                    <aside class="blog-widgets service-list">
                        <h3 class="widget-title">Our Prducts</h3>
                        <ul>
                            <li><a [routerLink]="['/indoFork']">IndoFork </a></li>
                            <li><a [routerLink]="['/mark']" >Mark Compressor</a></li>
                            <li><a [routerLink]="['/parker']">Parker </a></li>
                            <li><a [routerLink]="['/airnet']">Airnet </a></li>
                        </ul>
                    </aside>
                    <!-- Widget Category -->
                    
			  </div>
      </div>
    </div>
</section>
