.bg-dark {
    background-color: #060505!important;
    height: 7%;
}
.logo img{
    width: 200px !important;
    height: 50px !important;
}
.moblilemenu{
    z-index:9999;
}
.menu{
    padding: 7px 10px;
    text-align: -webkit-center;
    font-style: bold;
    font-weight: bolder;
    font-size: 15px;
    list-style: none;
}
.menu1{
    background-color: rgba(0,0,0,0.75);
    margin-left: 296px;
    text-align: center;
    color: white;
    padding: 10px;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    /* color: #28a745; */
    color: white;
    background-color: inherit;
    border: none;
}
.dropdown {
    cursor: pointer;
}
.dropdown-menu {
    margin-left: 72%;
}

.customContainer {
    padding-left: 2%;
}
.top-header-area {
    padding: 10px 0;
}