<!-- ======= page title part srat ======= -->
<section class="page-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- page title -->
        <div class="page-title">
          <div class="title"><h2>Service</h2></div>
          <ul class="breadcrumb">
            <li><a [routerLink]="['/home']" >Home</a></li>
           
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= page title part end ======= -->

<!-- ======= sevice area start ======= -->
<section class="choose-area section-padding bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <img class="img-responsive" src="../../assets/images/compressor1.jpg" style="  border: 2px solid;" />
        <br /><br /><br />
        <h2>
          <i class="service-icons fa fa-pencil-square-o" aria-hidden="true"></i>
          Preventive Maintenance
        </h2>
        <br />
        <p>
          Performing consistently booked safeguard support (PM) benefits on the
          parts of your compacted air framework is essential to protecting your
          framework performs at its ideal level, keeping guarantees in
          actuality, keeping up gear unwavering quality, and creating the best
          profit for your speculation as time goes on. Dismissing routine PM
          administrations builds your danger of expensive breakdowns and
          abbreviates the future of your packed air hardware.
        </p>
        <h2>
          <i class="service-icons fa fa-pencil-square-o" aria-hidden="true"></i>
          Repairs and Overhauls
        </h2>
        <br />
        <p>
          Air Compressor Service repairs and updates most real brands of modern
          air blowers from 5 through 300-pull. One of our accomplished
          administration specialists will look at your air blower to decide the
          reason for its glitch, arrange parts and play out the repairs nearby
          or in our shop, whatever is most suitable for the conditions.
        </p>

        <p>
          In the event that your mechanical air blower needs updating, we will
          cite you the expense and time required to finish a standard redesign,
          with the stipulation that dismantling of the blower may uncover other
          inside parts that require substitution as well. Regardless you will be
          kept advised of the circumstance and requested to favor extra
          suggested repairs.
        </p>

        <h2>
          <i class="service-icons fa fa-pencil-square-o" aria-hidden="true"></i>
          Crisis Repairs
        </h2>
        <br />
        <p>
          Indeed, even with the best precaution upkeep program compacted air
          gear does once in a while separate, as a rule at the very least
          conceivable time, it appears. We comprehend that breakdowns can be
          costly as far as lost creation and sit specialists. Along these lines,
          we bend over backward to react quickly to your crisis breakdown.
        </p>

        <p>
          On the off chance that you have a nightfall crisis breakdown, call us
          at 425-290-1888, tune in to the prompts and select our crisis voice
          letter drop. Record your name, your organization name, a telephone
          number where you can be come to, and a depiction of your concern as
          best as you most likely are aware it.
        </p>

        <p>
          Our telephone framework will caution one of our experts that there is
          a message in the crisis voice post box. He will recover it, get in
          touch with you and organize to have an administration expert react to
          your crisis. Obviously, additional time rates apply for night-time and
          end of the week work.
        </p>

        <h2>
          <i class="service-icons fa fa-pencil-square-o" aria-hidden="true"></i>
          Preventive Maintenance
        </h2>
        <br />
        <p>
          Performing consistently booked safeguard support (PM) benefits on the
          parts of your compacted air framework is essential to protecting your
          framework performs at its ideal level, keeping guarantees in
          actuality, keeping up gear unwavering quality, and creating the best
          profit for your speculation as time goes on. Dismissing routine PM
          administrations builds your danger of expensive breakdowns and
          abbreviates the future of your packed air hardware.
        </p>
      </div>
      <div class="col-sm-4">
        <!-- Widget categories -->
        <aside class="blog-widgets service-list">
          <h3 class="widget-title">Quick Links</h3>
          <ul>
              <li><a [routerLink]="['/about']">About Us</a></li>
              <li><a [routerLink]="['/service']" routerLinkActive="menu-active" >Services</a></li>
              <li> <a [routerLink]="['/WhyUs']">Why Us</a></li>
          </ul>
        </aside>
        <!-- Widget Category -->

        <!-- Widget categories -->
        <aside class="blog-widgets service-list">
          <h3 class="widget-title">Our Products</h3>
          <ul>
              <li><a [routerLink]="['/IndoFork']">IndoFork </a></li>
              <li><a [routerLink]="['/Mark']" >Mark Compressor</a></li>
              <li><a [routerLink]="['/Parker']">Parker </a></li>
              <li><a [routerLink]="['/airnet']">Airnet </a></li>
          </ul>
        </aside>
        <!-- Widget Category -->
      </div>
    </div>
  </div>
</section>
<div class="service-area section-padding">
  <div class="service-content">
    <!-- Single Service -->
    <div class="service-info">
      <img src="../../assets/img/service/01.jpg" alt="" />
      <div class="service-details">
        <div class="service-details-cell">
          <a href="#" class="arina-btn hvr-radial-out">OM PHOENIX TRADERS</a>
          <p>
           100% Service
          </p>
        </div>
      </div>
    </div>
    <!-- Single Service -->
    <div class="service-info">
      <img src="../../assets/img/service/02.jpg" alt="" />
      <div class="service-details">
        <div class="service-details-cell">
          <a href="#" class="arina-btn hvr-radial-out">OM PHOENIX TRADERS</a>
          <p>
           All types of Screw Air Compressor
          </p>
        </div>
      </div>
    </div>
    <!-- Single Service -->
    <div class="service-info">
      <img src="../../assets/img/service/03.jpg" alt="" />
      <div class="service-details">
        <div class="service-details-cell">
          <a href="#" class="arina-btn hvr-radial-out">OM PHOENIX TRADERS</a>
          <p>
           Preventive Servvice
          </p>
        </div>
      </div>
    </div>
    <!-- Single Service -->
    <div class="service-info">
      <img src="../../assets/img/service/04.jpg" alt="" />
      <div class="service-details">
        <div class="service-details-cell">
          <a href="#" class="arina-btn hvr-radial-out">OM PHOENIX TRADERS</a>
          <p>
           Annual Maintainance Contract
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="service-content">
    <!-- Single Service -->
    <div class="service-info">
      <img src="../../assets/img/service/05.jpg" alt="" />
      <div class="service-details">
        <div class="service-details-cell">
          <a href="#" class="arina-btn hvr-radial-out">OM PHOENIX TRADERS</a>
          <p>
            Air Dryers
          </p>
        </div>
      </div>
    </div>
    <!-- Single Service -->
    <div class="service-info">
      <img src="../../assets/img/service/06.jpg" alt="" />
      <div class="service-details">
        <div class="service-details-cell">
          <a href="#" class="arina-btn hvr-radial-out">OM PHOENIX TRADERS</a>
          <p>
           Breakdown Service
          </p>
        </div>
      </div>
    </div>
    <!-- Single Service -->
    <div class="service-info">
      <img src="../../assets/img/service/07.jpg" alt="" />
      <div class="service-details">
        <div class="service-details-cell">
          <a href="#" class="arina-btn hvr-radial-out">OM PHOENIX TRADERS</a>
          <p>
           A Complete Air Solution
          </p>
        </div>
      </div>
    </div>
    <!-- Single Service -->
    <div class="service-info">
      <img src="../../assets/img/service/08.jpg" alt="" />
      <div class="service-details">
        <div class="service-details-cell">
          <a href="#" class="arina-btn hvr-radial-out">OM PHOENIX TRADERS</a>
          <p>
            Air Compressor Rental Service
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ======= service area end ======= -->
