<section class="page-title-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <!-- page title -->
              <div class="page-title">
                  <div class="title">
                      <h2>Why Us</h2>
                  </div>
                  <ul class="breadcrumb">
                      <li><a [routerLink]="['/home']" >Home</a></li>
                     
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ======= page title part end ======= -->



<!-- ======= team part start ======= -->
<section class="team-area section-padding">
  <div class="container">
      <div class="row">
   <div class="col-sm-8">
   
              <div class="des-info">
    <img src="../../assets/images/why.png" class="img-responsive" alt="Why choose Us" title="Why choose Us" /> <br /><br /><br />
                  <h2>Why choose us?</h2>
                  <p>I see the many people spend lots of money almost everyday due to reasons like: </p>
                  
      
      <ul class="check-list">
                      <li> Unnecessary high energy bills </li>
                      <li> Extra maintenance and repair costs </li>
        <li> Costly breakdowns that could have been avoided </li>
        <li> Customer Support 24*7 </li>
        
                  </ul>
      
      
      
              </div>
          
   </div>
   <div class="col-sm-4">
    <!-- Widget categories -->
        <aside class="blog-widgets service-list">
            <h3 class="widget-title">Quick Links</h3>
            <ul>
                <li><a [routerLink]="['/about']">About Us</a></li>
                <li><a [routerLink]="['/service']" routerLinkActive="menu-active" >Services</a></li>
                <li> <a [routerLink]="['/WhyUs']">Why Us</a></li>
            </ul>
        </aside>
        <!-- Widget Category -->
  
        <!-- Widget categories -->
        <aside class="blog-widgets service-list">
            <h3 class="widget-title">Our Prducts</h3>
            <ul>
                    <li><a [routerLink]="['/indoFork']">IndoFork </a></li>
                    <li><a [routerLink]="['/mark']" >Mark Compressor</a></li>
                    <li><a [routerLink]="['/parker']">Parker </a></li>
                    <li><a [routerLink]="['/airnet']">Airnet </a></li>
            </ul>
        </aside>
        <!-- Widget Category -->
        
</div>


</div>
  </div>
</section>
<!-- ======= team part end ======= -->