<!-- ======= slider part start ======= -->
<owl-carousel
  #owlElement
  [options]="mySlideOptions"
  [items]="mySlideImages"
  [carouselClasses]="['owl-theme', 'row', 'sliding']"
>
  <div class="item" *ngFor="let image of mySlideImages; let i = index">
    <div><img src="{{image}}" /></div>
  </div>
</owl-carousel>
<!-- ======= slider part end ======= -->

<!-- ======= about us start ======= -->
<section class="about-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-2 text-center">
                    <!-- section title -->
                    <div class="title">
          <h2 style="color:#FFBD1F">About us</h2>
          <p>
            OM PHOENIX TRADERS (OPT) is a registered company Authorized Dealer
            of : - <br />
            <b>
              - MARK COMPRESSOR (A Div. OF ATLAS COPCO),<br />
              - Ms. BARMEL RUBBER INDUSTRIES LIMITED (INDOFORK),<br />
              - PARKER HANNIFIN
            </b>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="about-img">
          <img src="../../assets/images/about.png" alt="" />
        </div>
      </div>
      <div class="col-sm-7">
        <div class="about-content">
          <p>
            Our Supplies and Service are so advanced that we can make available
            across 3500 Brands within 10 – 15 days. We are a single Window
            solution of supplies for a Industry.
          </p>

          <p>
            We are always ready to help our customers. OPT is best known for its
            after sales service backed with a team of well trained and dedicated
            engineers enduring to serve their customers. The engineers are
            provided world class training from principal companies and upgraded
            time and again.
          </p>

          <p>
            Our Motto is to bring to you the most advanced technology. We ensure
            accessibility to the most reputed multinational brands at your
            doorsteps with optimum cost.
          </p>

          <a [routerLink]="['/about']" class="arina-btn hvr-radial-out">read more</a>
        </div>
      </div>
      <!-- about content -->
    </div>
  </div>
</section>
<!-- ======= about us end ======= -->

<!-- ======= service area start ======= -->
<section class="choose-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-2 text-center">
        <div class="title">
          <h2>our service</h2>
          <p>
            <b class="template-color">OM PHOENIX TRADERS</b> provide the
            following service to our customers. We always try to provide our
            best possible service.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="choose-part">
          <div class="choose-icon">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </div>
          <div class="choose-info">
            <h2>Preventive Maintenance</h2>
            <p>
              Performing consistently booked safeguard support (PM) benefits on
              the parts
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="choose-part">
          <div class="choose-icon">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </div>
          <div class="choose-info">
            <h2>Repairs and Overhauls</h2>
            <p>
              Air Compressor Service repairs and updates most real brands of
              modern air blowers
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="choose-part">
          <div class="choose-icon">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </div>
          <div class="choose-info">
            <h2>CRISIS REPAIRS</h2>
            <p>
              Indeed, even with the best precaution upkeep program compacted air
              gear does
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="choose-part">
          <div class="choose-icon">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </div>
          <div class="choose-info">
            <h2>Annual Maintainance</h2>
            <p>
              Annual Mangement of vechiles with air compressor is done from our
              side on egular basis.
            </p>
          </div>
        </div>
      </div>

      <a class="center" [routerLink]="['/service']"  class="arina-btn hvr-radial-out"
        >Read more</a
      >
    </div>
  </div>
</section>
<!-- ======= service area end ======= -->

<!-- ======= Why Choose Us start ======= -->


<section class="destination-area section-padding">
 
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="video1">
            
            <iframe     class="embed-responsive-item des-video" width="100%" height="310" src="https://www.youtube.com/embed/VoJ6nKNfIJI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="des-info">
            <h2>Why choose us?</h2>
            <p>
              We follow some regular steps for our customers so that each and
              every point should be checked manually. for this we follow the
              steps.
            </p>
  
            <ul class="check-list">
              <li>AIR COMPRESSOR MAINTENANCE.</li>
              <li>COMPRESSED AIR GENERATION.</li>
              <li>COMPRESSED AIR TREATMENT SOLUTION.</li>
              <li>COMPRESSED AIR SOLUTION CUNSULTANT.</li>
              <li>AIR COMPRESSOR INSTALLATION AND COMMISSIONING.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="destination-area section-padding">
 
    <div class="container">
      <div class="row">
        
        <div class="col-md-3">
            <iframe     class="embed-responsive-item des-video" width="100%" height="310" src="https://www.youtube.com/embed/mw9C23Z1lQk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-3">
            <iframe     class="embed-responsive-item des-video" width="100%" height="310" src="https://www.youtube.com/embed/0_ZgCWsikJ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-3">
            <iframe     class="embed-responsive-item des-video" width="100%" height="310" src="https://www.youtube.com/embed/TvCxO2v-u_w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-3">
            <iframe     class="embed-responsive-item des-video" width="100%" height="310" src="https://www.youtube.com/embed/kWKCGND2lyQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
<!-- ======= destination area end ======= -->

<!-- ======= news area start ======= -->
<!-- <section class="news-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="title">
          <h2>OUR CUSTOMERS</h2>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="blog-slide">
        <article>
          <owl-carousel
            #owlElementCustomers
            [options]="customerOptions"
            [items]="customerImages"
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >
            <div class="news-img" class="item carouselTest" *ngFor="let image of customerImages; let i = index">
                <img
                  style="width: 383.333px; margin-right: 10px;"
                  src="{{image}}"
                />
              </div>
            
          </owl-carousel>
          <div class="news-content"><h2>RICE MILLS</h2></div>
        </article>
      </div>
    </div>
  </div>
</section> -->
<!-- ======= news area end ======= -->

<!-- ======= client area start ======= -->
<section class="client-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <!-- section title -->
        <div class="title">
          <h2>Client's Review</h2>
          <p>Client point of view towards OM PHOENIX TRADERS</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="client-comment">
          <div class="client-comment-info">
            <!-- Single client -->
            <owl-carousel
                #owlClientElement
                [options]="clientOptions"
                [items]="clientImages"
                [carouselClasses]="['owl-theme', 'row', 'sliding']"
              >
            <div class="client-comments-details" *ngFor="let image of clientImages; let i = index">
                  <div class="news-img"><img src="{{image.path}}" /></div>
                  <p>
                    {{image.comments}}
                  </p>
                  <h3>- {{image.name}}</h3>
            </div>
          </owl-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= client area end ======= -->

<!-- ======= project count area start ======= -->
<section class="project-count-area section-padding parallax">
  <div class="container">
    <div class="row">
      <!-- single project count -->
      <div class="col-md-4 col-sm-6">
        <div class="project-count-info">
          <span class="counter" data-count="1950">110</span> <span>+</span>
          <h3>Happy Customer</h3>
        </div>
      </div>
      <!-- single project count -->
      <div class="col-md-4 col-sm-6">
        <div class="project-count-info">
          <span class="counter" data-count="5">20</span> <span>+</span>
          <h3>Sub Branches</h3>
        </div>
      </div>
      <!-- single project count -->
      <div class="col-md-4 col-sm-6">
        <div class="project-count-info">
          <span class="counter" data-count="347">24</span> <span>+</span>
          <h3>Team Members</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= project area end ======= -->

<!-- ======= team part start ======= -->
<section class="team-area section-padding">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Our Team</h2>
      <br /><br /><br />
      <div class="col-md-12">
          <owl-carousel
          #owlClientElement
          [options]="teamOptions"
          [items]="teamImages"
          [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >
      <div class="col-md-3 col-sm-6 my_client" *ngFor="let image of teamImages; let i = index">
        <!-- single team -->
        <div class="team-info">
          <div class="member-img">
            <img src="{{image.path}}" alt="team members" />
          </div>
          <div class="member-info">
            <h3>{{image.name}}</h3>
            <span>{{image.type}}</span>
          </div>
        </div>
      </div>
    </owl-carousel>
      
      </div>
 
    </div>
  </div>
</section>
<!-- ======= team part end ======= -->
