<div class="single-service-details">
    <!-- Gallery -->

    <!-- single service contant -->
    <div class="single-service-contant">
      <h3>IndoFork Tyres</h3>
      <div class="col-md-6">
        <img
          class="img-responsive"
          src="../../assets/images/indofork.jpg"
          alt=""
        />
      </div>

      <p>
        Indofork from Bremels is a leading compounder for tyre companies
        in India, with the capacity excess of 20000 tonnes annually. We
        have been doing this highly technical compounding work for the
        last two decades for all the leading tyre companies in India.
      </p>
      <p>
        Today the company is steered by young dynamic team of
        professionals well trained and having adequate educational
        background and no wonder Indofork from Bremels is poised for a big
        leap ahead.
      </p>
      <h3>Type of Tyres</h3>
      <ul class="check-list">
        <li>Solid Cushioned Tyres</li>
        <li>Press On Band Tyres</li>
        <li>Future Range Of Tyres</li>
      </ul>
      <br /><br />
      <button class="check-button" onclick="myFunction()">
        Show More
      </button>
      <br /><br />
      <div class="showme" id="myDIV" style="display:none;">
        <embed
          src="download/Indofork/Indofork.pdf#toolbar=0&navpanes=0&scrollbar=0"
          type="application/pdf"
          width="100%"
          height="400px"
        />
        <a href="download/Indofork/Indofork.pdf"
          ><img
            class="img-responsive"
            src="../../assets/images/download.png"
          />
        </a>
      </div>
    </div>
  </div>