<!-- ======= footer area start ======= -->
<footer class="footer-area parallax">
  <div class="top-footer-area section-padding">
    <div class="container">
      <div class="row">
        <!-- footer widgets -->
        <div class="col-md-3 col-sm-6">
          <div class="footer-widgets">
            <h2>About Us</h2>
            <p>
              <b class="template-color">OM PHOENIX TRADERS</b> is a registered
              company Authorized Dealer of
              <b>Ms. BARMEL RUBBER INDUSTRIES LIMITED (INDOFORK)</b>.
            </p>
          </div>
        </div>
        <!-- footer widgets -->
        <div class="col-md-3 col-sm-6">
          <div class="footer-widgets">
            <h2>Quick Links</h2>
            <ul>
                <li><a [routerLink]="['/about']">About Us</a></li>
                <li><a [routerLink]="['/service']" routerLinkActive="menu-active" >Services</a></li>
                <li> <a [routerLink]="['/WhyUs']">Why Us</a></li>
            </ul>
          </div>
        </div>
        <!-- footer widgets -->
        <div class="col-md-3 col-sm-6">
          <div class="footer-widgets">
            <h2>Products</h2>
            <ul>
                <li><a [routerLink]="['/indo']">IndoFork </a></li>
                <li><a [routerLink]="['/mark']" >Mark Compressor</a></li>
                <li><a [routerLink]="['/parkers']">Parker </a></li>
                <li><a [routerLink]="['/airnet']">Airnet </a></li>
            </ul>
          </div>
        </div>
        <!-- footer widgets -->
        <div class="col-md-3 col-sm-6">
          <div class="footer-widgets address-wid">
            <h2>Get in Touch</h2>
            <ul>
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>OFFICE No.
                441, 4th FLOOR, ASHIYANA TRADE CENTER, ADITYAPUR, JAMSHEDPUR-
                831013
              </li>
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a>info@omphoenixtraders.com, sales@omphoenixtraders.com</a>
              </li>
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a>+91 9065516996, 7, 8, 9</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-footer-area">
    <div class="container">
      <!-- copy right -->
      <div class="row">
        <div class="col-sm-7">
          <div class="copy-right">
            <p>
              Copyright <span>&copy;</span> OM PHOENIX TRADERS 2018. All rights
              reserved.
            </p>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="copy-right">
            <!-- footer social link -->
            <div class="footer-social-link">
              <p class="white-text" style="margin: 0px; text-align:right;">
                Developed by :
                <a
                  target="_blank"
                  style="color:#f7bb0b; font-weight:bold;"
                  href="https://quarkstech.in/"
                >
                  Quarks Tech InfoSoft</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ======= footer area end ======= -->
