    <!-- ======= contact us part star ======= -->
    <section class="contact-info section-padding">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  <!-- support info -->
                  <div class="contact-info-content">
                      <h2>address info</h2>
                      
          
                      <div class="footer-widgets address-wid con-info">
                          <ul>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i> 334 26, 2, Rd Number 4, Adityapur 2, Adityapur Colony, Adityapur, Jamshedpur, Jharkhand 831013</li>
                              <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="sales@omphoenixtraders.com">sales@omphoenixtraders.com</a></li>
                              <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="75430 97583">75430 97583</a></li>
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i>  Monday-Friday : 9am - 6pm </li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>  Satarday-Sunday : 9am - 12pm </li>
              
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <!-- contact form content -->
                  <div class="contact-form-area">
                      <h2>contact info</h2>
                      <!-- contact form -->
                      <div class="contact-form">
                          <form action="#" method="post">
                              <div class="row">
                                  <div class="col-sm-6 col-md-6">
                                      <div class="form-content">
                                          <input name="name" placeholder="YOUR NAME" class="form-control" required="" type="text">
                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-6">
                                      <div class="form-content">
                                          <input name="email" placeholder="YOUR EMAIL" class="form-control" required="" type="email">
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-12 col-md-12">
                                      <div class="form-content">
                                          <input name="subject" placeholder="Subject" class="form-control" type="text">
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-message">
                                          <textarea class="field-element form-control" data-gramm="true" spellcheck="false" data-gramm_editor="true" name="msg" placeholder="Message" required=""></textarea>
                                      </div>
                                      <button type="submit" name="submit" class="sent-button arina-btn hvr-radial-out">SEND</button>
                  <button type="reset" name="submit" class="sent-button arina-btn hvr-radial-out">RESET</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ======= contact us part end ======= -->
  <section class="contact-info section-padding">
      <div class="container">
          <div #gmap style="width:100%;height:300px" ></div>
      </div>
  </section>
 <!-- <section class="contact-info section-padding">
      <div class="container">
 
<div class="block animate" data-animate="bounceIn" data-duration="1.0s" data-delay="0.1s" id="map" style="width:100%;height:300px"></div>
</div>
</section> -->
  <!-- ======= Google map part start ======= -->