<section class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- page title -->
                <div class="page-title">
                    <div class="title">
                        <h2>About Us</h2>
                    </div>
                    <ul class="breadcrumb">
                        <li><a [routerLink]="['/home']" >Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="progress-area section-padding">
    <div class="container">
        
        <div class="row">
            <div class="col-md-6">
              <h3 style="text-align: center">About Us</h3>
                <div class="myuse">
                    <p> <b class="template-color">OM PHOENIX TRADERS (OPT)</b> is a registered company Authorized Dealer of <b>Ms. BARMEL RUBBER INDUSTRIES LIMITED (INDOFORK)</b>, Franchise Partner of INDUSTRYBUYING.</p>
 
                     
                    <p>We are always ready to help our customers. OPT is best known for its after sales service backed with a team of well trained and dedicated engineers enduring to serve their customers. The engineers are provided world class training from principal companies and upgraded time and again.</p>
                   </div>
            </div>
            
             <div class="col-md-6">
                <h3 style="text-align: center"> Director</h3>
                <img src="../../assets/images/director.jpg" class="img-responsive" alt="Why choose Us" title="Why choose Us" /> <br /><br /><br />
                
               </div>    
    </div>
    <blockquote>
        <p>Our Motto is to bring to you the most advanced technology. We ensure accessibility to the most reputed multinational brands at your doorsteps with optimum cost.</p>
      </blockquote>
      <p>We are committed to deliver the best products with strong after sales service support. We take extra care to ensure your individual requirements are catered to. To top it all we ensure ready stock and spares availability to drive your performance. 
 
          Our paramount effort is to increase customer’s satisfaction and productivity with some of generations best technology.</p>       
         
  </div>
</section>