<section class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- page title -->
                <div class="page-title">
                    <div class="title">
                        <h2>Parker Compressor</h2>
                    </div>
                    <ul class="breadcrumb">
                        <li><a [routerLink]="['/home']" >Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======= page title part end ======= -->

<!-- ======= single service part start ======= -->
<section class="single-service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="single-service-details">
                    <!-- Gallery -->
                    <div class="single-service-slider">
                        <img class="img-responsive" src="images/indofork.jpg" alt="">
                    </div>
                    <!-- single service contant -->
                    <div class="single-service-contant">
                        <h3>Parker Air Cycle</h3>
                            <p>The Parker Hiross StarlettePlus-E series
of refrigerated dryers (SPE) is the perfect
solution for efficient removal of water vapour
from compressed air and combines
quality and efficiency in a reliable design
with the smallest impact on the environment
and on the operating costs.
Developed around a state-of-the-art
Aluminium heat exchanger (E-Pack),
with a patent pending all-in-one design,
featuring an air-to-air section, an airto-refrigerant
section, a highly efficient
stainless steel demister separator and
a moisture collection chamber, the new
StarlettePlus-E series provides air quality
with unrivalled running costs.</p>
                           
             
                        <h3>Scope of supply</h3>
<ul class="check-list">

<li>REFRIGERATED AIR DRYERS.


</li><li>  MEMBRANE AIR DRYERS.

</li><li>  DESICANT AIR DRYERS.

</li><li>  HEATLESS AIR DRYERS
  </li><li> NITROGEN GENERATORS.

    </li><li>  HYDROGEN GENERATORS.

    </li><li>  ZERO AIR GENERATORS.

    </li><li>  AUTOMATIC DRAIN VALVES.

      </li><li> COMPRESSED AIR LINE FILTERS
        </li><li> PULSE JET DUST COLLECTOR FILTER CARTRAIDGE.

        </li><li> REVERSE AIR DUST COLLECTOR BAG FILTERS
        </li><li> MEDICAL VACUUM BACTERIA FILTERS

          


          </li><li> COMRESSED AIR AND GAS WATER SEPARATORS
            </li><li> OIL/WATER SEPARATORS.

    
            </li><li> COMPRESSED AIR EXHAUST SILENCERS.

            </li><li> COMPRESSED AIR BREATHING AIR PURIFICATION.
              </li><li> AFTERCOOLERS.
                </li><li> WATER CHILLERS.

           
</li>
</ul>
<a href="../../assets/images/a.pdf"
            ><img
              class="img-responsive"
              src="../../assets/images/download.png"
            />
            </a>
            <a href="../../assets/images/b.pdf"
            ><img
              class="img-responsive"
              src="../../assets/images/download.png"
            />
            </a> 
            <a href="../../assets/images/c.pdf"
            ><img
              class="img-responsive"
              src="../../assets/images/download.png"
            />
            </a> 
            <a href="../../assets/images/d.pdf"
            ><img
              class="img-responsive"
              src="../../assets/images/download.png"
            />
            </a> 
       
                   
         </div>
                </div>
            </div>
            <div class="col-sm-4">
		            <!-- Widget categories -->
                    <aside class="blog-widgets service-list">
                        <h3 class="widget-title">Quick Links</h3>
                        <ul>
                            <li><a [routerLink]="['/about']">About Us</a></li>
                <li><a [routerLink]="['/service']" routerLinkActive="menu-active" >Services</a></li>
                <li> <a [routerLink]="['/WhyUs']">Why Us</a></li>
                        </ul>
                    </aside>
                    <!-- Widget Category -->
              
                    <!-- Widget categories -->
                    <aside class="blog-widgets service-list">
                        <h3 class="widget-title">Our Prducts</h3>
                        <ul>
                            <li><a [routerLink]="['/indo']">IndoFork </a></li>
                            <li><a [routerLink]="['/mark']" >Mark Compressor</a></li>
                            <li><a [routerLink]="['/parkers']">Parker </a></li>
                            <li><a [routerLink]="['/airnet']">Airnet </a></li>
                        </ul>
                    </aside>
                    <!-- Widget Category -->
                    
			  </div>
      </div>
    </div>
</section>